body {
    background-color: rgb(0,0,0);
}
.image{
    max-width: 35%;
    max-height: 35%;
    min-width: 30%;
    min-height: 30%;
    border-color: teal;
    border-style: solid;
    border-width: 3px;
    padding: 0,0;
}

.img-block, h1{
    margin: auto;
    text-align: center;
}

