* {
    box-sizing: border-box;
}

html,body{
    background-color: white;
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.contains {
    width: 100%;
    height: 100%;
}

.login-box{
    width:35%;
    height: 100%;
    text-align: center;
    background-color: white;
    float: left;
}

.register-box{
    width: 45%;
    background-color: white;
    text-align: center;
}

.first-half {
    width: 65%;
    height: 100%;
    float: left;
}

.photo {
    width: 100%;
    height: 100%;
}