body {
    background-color:  rgb(159, 191, 240);
}

h1 {
    text-align: center;
    margin: auto
}

.profile-box {

    background-color: white;

}

.profile-form {
    background-color: white;
    margin: auto;
    text-align:center;
    /* display: flex;
    justify-content: center; */
}