body {

    background-color: rgb(206, 243, 255);

}


#register-box{
    margin: auto;
    text-align: center;
    background-color: white;
    max-width: 45%;
}


.register-form{
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}