body {
    background-color:  rgb(159, 191, 240);
}

.upload-box{
    width: 40%;
    text-align: center;
    margin: auto;
}

.disclaimer {
    width: 40%;
    max-width: 40%;
    background-color: teal;
    margin: auto;
    text-align: center;
}